@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  background-color: rgb(23, 40, 40);
}

.pageHeading{
  text-align: center;
  font-weight: bolder;
  margin: 25px;
  font-size: 4rem;
  color: darkorange;
}

.container{
  text-align: center;
  padding: 15px 50px;
  width: 480px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  border: 3px solid rgb(247, 247, 247);
}

#mainHeading{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bolder;
}


.list-group-item{
  cursor: pointer;
  text-decoration: none;
  background-color: lightgray;
  list-style: none;
  padding: 12px 120px;
  font-size: 2rem;
  font-weight: bold;
  color: coral;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-group-item:hover{
  color: white;
  font-weight: bolder;
  transform: scale(1.1);
}

.list-group-item:active {
  transform: translateY(4px);
}

.listSelect{
  background-color: coral;
  color: white;
}

.both{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.btn{  
  margin: 150px 10px;
  padding: 10px 20px;
}

.moveButtons > button{
  background-color: teal;
  color: white;
}

.moveButtons > button:hover{
  background-color: white;
  color: teal;
}

.addButton > button{
  margin-top: 20px;
  margin-left: -162px;
  color: white;
  font-size: larger;  
  background: coral;
  font-weight: bold;
}


.addButton > button:hover{
  color: coral; 
  background: white;
}

  /** media queries for responsive interface **/
 /** tablet view **/
 @media (min-device-width: 700px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1){}





/* media queries*/
/** tablet view **/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2){}



@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
}

@media screen and (min-width: 991px){
   body{
    margin: 0;
   }  
  
}












